.benefits-section {
    display: flex;
    flex-direction: column;
    align-items: center;


    .benefits-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #253041;
        border-radius: 10px;
        width: 85%;
        padding: 20px 0;
        gap: 30px;

        .benefit-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 262px;

            img {
                width: 80px;
                height: 80px;
            }


            h3 {
                text-transform: uppercase;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 768px) {
    .benefits-section {

        .benefits-wrapper {
            flex-direction: row;
            justify-content: space-around;
            width: 90%;
            min-height: 310px;
        }
    }
}

@media (min-width: 992px) {
    .benefits-section {

        .benefits-wrapper {}
    }
}

@media (min-width: 1200px) {
    .benefits-section {

        .benefits-wrapper {
            max-width: 950px;
        }
    }
}