.creator-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #4248B3;

    .left-side-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
            color: white;
        }

        .content {
            p {
                color: white;
            }
        }
    }

    .right-side-content {}
}