.featured-products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    padding: 40px 0;

    h2 {
        text-transform: uppercase;
    }

    .slider-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 55%;

        .splide-track-wrapper {
            width: 100%;

            .product {
                background-color: #d5f7f9;
                max-width: 300px;
                min-height: 300px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                button {
                    position: absolute;
                    padding: 14px 26px;
                    top: 85%;
                    border: 2px solid #253041;
                    background-color: white;
                    color: #253041;

                    &:hover {
                        color: white;
                        background-color: #253041;
                    }
                }
            }
        }

        .splide__arrow--prev {
            left: -4em
        }

        .splide__arrow--next {
            right: -4em;
        }

        .splide__pagination {
            bottom: -5%;
        }
    }
}