.hero-section-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 522px;
    align-items: center;

    img {
        position: absolute;
        z-index: -1;
        right: 0;
    }

    .text-btn-wrapper {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-transform: uppercase;
        }

        button {
            padding: 22px 36px;

            &:hover {
                background-color: #bc006e;
            }
        }
    }
}