.main-navbar-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    background-color: #ffffff;
    padding: 15px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;

    .left-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo-wrapper {}

        .navbar-links {
            display: none;
            gap: 25px;

            a {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 18px;
                color: #263140;
                text-align: center;
                cursor: pointer;

                &:hover {
                    color: #4248B3;
                }
            }
        }
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .burger-icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
            z-index: 4;
        }

        .menu {
            display: none;
        }

        .menu.active {
            display: flex;
            flex-direction: column;
            background-color: #263140;
            height: 100vh;
            width: 50%;
            position: fixed;
            top: 0;
            right: 0px;
            z-index: 3;
        }
    }

    .big-screen-btn {
        display: none;
    }
}

@media (min-width: 768px) {
    .main-navbar-wrapper {
        .left-items {
            .logo-wrapper {}
        }

    }
}

@media (min-width: 992px) {
    .main-navbar-wrapper {
        .left-items {
            .logo-wrapper {}

            .navbar-links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
        }

        .burger-menu {
            display: none;
        }

        .big-screen-btn {
            display: block;
            padding: 14px 26px;

            &:hover {
                background-color: #B8006B;
            }
        }
    }
}

@media (min-width: 1200px) {}