.main-navbar-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    background-color: #ffffff;
    padding: 15px;
    align-items: center;

    .left-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 430px;
        align-items: center;

        .logo-wrapper {}

        .left-item-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            p {
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }

    .right-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 220px;

        .right-item-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            button {
                padding: 14px 26px;

                &:hover {
                    background-color: #bc006e;
                }
            }
        }
    }
}