.products-wrapper {
    border-top: 10px solid #00F5B8;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-transform: uppercase;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 20px;

        .product {
            max-width: 300px;
            min-height: 450px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            border: 2px solid #253041;

            button {
                position: absolute;
                padding: 14px 36px;
                top: 85%;
                background-color: #eb0089;
                border: 2px solid #eb0089;
                color: white;

                &:hover {
                    border-color: #bc006e;
                    background-color: #bc006e;
                }
            }
        }
    }
}