body {
    background-color: white;

    section {
        padding: 60px 0;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        color: #263140;
        padding: 10px;
        text-align: center;
    }

    h1 {
        font-weight: 800;
        font-size: 38px;
        color: #263140;
        padding: 20px;
        text-align: center;
    }

    h2 {
        font-weight: 700;
        font-size: 34px;
        color: #263140;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }

    h3 {
        font-weight: 600;
        font-size: 30px;
        color: #263140;
        padding: 20px;
        text-align: center;
    }

    button {
        font-family: "Roboto", sans-serif;
        transition: 0.25s;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #E00083;
        border-radius: 4px;
        color: white;
        font-weight: 700;
        font-size: 14px;
        border-style: none;
    }
}