body {
    background-color: white;

    p {
        color: black;
    }

    h1 {
        color: black;
    }

    h2 {
        color: black;
    }

    button {
        transition: 0.25s;
        cursor: pointer;
    }
}